*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background: #1C1E1F;
  padding: 30px;
}

/* Searchbar Style */

.s-container{
  display: flex;
  width: 50%;
  margin: auto;
  border: 1px solid #CCC;
  border-radius: 12px;
  padding: 5px;
  align-items: center;
  justify-content: space-around;
}
.s-icon{
  width: 30px;
  font-size: 20px;
  color: #FFF;
}
.s-input{
  width: 90%;
  
}
.s-lineBraker{
  color: #FFFF;
  text-align: center;
  margin: 10px 0;
}
 input{
  width: 100%;
  padding: 5px;
  border: none;
  font-size: 16px;
  color: #FFF;
  background:none;
}
.s-input input:focus{
  outline: none;
}

.s-zip-container{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.s-zip-container >div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  padding: 5px;
  border: 1px solid #CCC;
  border-radius: 12px;
}
/* Weather details container style */

.w-container{
  width: 50%;
  margin: auto;
  color: #FFF;
  flex-direction: column;
  display: flex;
  grid-gap: 15px;
  margin-bottom: 20px;
}
.w-cityDetails{
  margin-top: 10px;
}
.w-temp{
  display: flex;
  justify-content: space-between;
}

.w-tempreture{
  font-size: 50px;
  padding-top: 20px;
}
.w-image img{
  width: 200px;
}
.w-image p{
  margin-top: 10px;
  text-align: center;
}
.w-weather{
  display: flex;
  justify-content: space-around ;
  background: #202329;
  border-radius: 12px;
  padding: 10px;
}
.w-weather img{
  width: 30px;
}
.notFound{
  padding: 10px;
  text-align: center;
  color: #FFF;
}
.loader{
  display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* Three Hours ForeCast */

.th-container{
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}
.th-min_max{
  display: flex;
  font-size: 12px;
}
.th-single{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  padding: 5px;
  border-radius: 6px;
}


/* Responsive style */

@media screen and (max-width: 480px)  {
    .container{
      height: auto;
    }
    .s-container,.w-container,.th-container,.s-zip-container{
      width: 100%;

    }
    .th-single{
      margin-top: 10px;
    }
}
@media screen and (min-width: 480px) and (max-width:992px) {
    .container{
      height: auto;
    }
    .s-container,.w-container,.th-container,.s-zip-container{
      width: 100%;
    }
    .th-single{
      margin-top: 10px;
    }
}